**/keys/
**client_secrets.json
**service.json

**/chroma_store/
**/chroma_db/
**/archive/
**/vera_agent_memory/**/
**/vera_memory/

**/Deprecated
**/deprecated/
**/lib/

**/.security_cache/
**/.obsidian/
**/.vscode/
**/.trash/
**/.temp/

**/saved_html/**/